$green = #8BC84B
$actionColour = darken($green, 20%)
$backgroundColour = #f7f7f7
$codeBg = #eee

*
    box-sizing: border-box

html, body
    height: 100%

body
    position: relative
    margin: 0
    min-width: 320px
    background: $backgroundColour
    -webkit-font-smoothing: antialiased

p
    line-height: 1.4
    margin: 0 0 1.4em

a, a.visited
    color: $actionColour
    text-decoration: none
    transition: color 0.3s

    &:hover
        color: lighten($actionColour, 30%)

pre
    background: $codeBg
    padding: 0.2em

code
    background: $codeBg
    font-size: 1rem

    pre &
        display: block
        padding: 0.5rem 1rem
