// Icon font:
@font-face
    font-family: 'icons'
    src:url('/fonts/icons.woff') format('woff')
    font-weight: normal
    font-style: normal

includeIcon($char, $color)
    content: $char
    color: $color
    font-family: 'icons'
    font-style: normal
    margin-right: 0.3em

$githubIcon($color='inherit')
    includeIcon('\e800', $color)
$pencilIcon($color='inherit')
    includeIcon('\e803', $color)
$linkIcon($color='inherit')
    includeIcon('\e804', $color)
$briefcaseIcon($color='inherit')
    includeIcon('\e802', $color)
$locationIcon($color='inherit')
    includeIcon('\e801', $color)

body
    font-family: 'Alegreya', serif
    font-size: 20px
    color: #334
