@import "_common"

$postsColour = rgba(30, 45, 90, 0.5)
$linksColour = rgba(220, 180, 50, 0.5)
$codeColour = rgba(30, 145, 90, 0.5)


// Homepage styles
section.homepage
    padding: 1rem

    > a
        display: block
        width: 20%
        float: left
        text-align: center
        color: #999
        padding: 2rem 0

        &:before
            font: normal 1.3em 'icomoon'
            margin-right: 0.3em

    h2
        display: inline

    &.code a:before
        content: "\24"
    &.links a:before
        content: "\22"

svg
    width: 80%

.posts svg, .links svg
    height: 150px

    g
        text
            display: none

            &.date
                font-size: 0.8rem
        a:hover ~ text
            display: block

        line
            display: none
            stroke: black
        a:hover line
            display: block

    circle
        fill: $postsColour

        &:hover
            fill: black

.links svg
    circle
        fill: $linksColour

        &:hover
            fill: black


.code svg
    height: 300px       // FIXME: this is arbitrary

    g.repo
        path
            transition: opacity 0.5s
            opacity: 0.5
            fill: $codeColour

        a
            transition: all 0.4s

            &:hover *
                opacity: 1

        text
            fill: #333
            font-size: 1rem
            opacity: 0
            transition: all 0.4s

            &.name
                opacity: 1

            tspan.language
                fill: #999
                font-size: 0.9em

            .description
                opacity: 0
                font-size: 0.8rem

        &:hover .description
            opacity: 1

        rect
            fill: transparent
