@import "_common"

$codeColour = #5a6
$postsColour = #56a
$linksColour = rgb(220, 180, 50)

flexboxCenter()
    display: flex
    justify-content: center
    align-items: center


// Homepage styles
section.homepage
    margin-bottom: 2rem
    position: relative

    &.loading:before
        content: 'Loading data...'
        position: absolute
        width: 100%
        margin: 5rem
        pointer-events: none
        opacity: 0.5
        text-align: center
        font-style: italic

    &.loading.failed:before
        content: "Sorry, failed to load the data. Refresh and try again?"

    &.code
        height: 300px

        > a
            border-color: $codeColour
            background: rgba($codeColour, 0.2)

    &.posts
        height: 120px

        > a
            border-color: $postsColour
            background: rgba($postsColour, 0.2)
    &.links
        height: 150px

        > a
            border-color: $linksColour
            background: rgba($linksColour, 0.2)

    > a
        display: block
        flexboxCenter()
        width: 20%
        float: left
        text-align: center
        height: 100%
        border-left: 1rem solid rgba(255,255,255,0.3)
        color: #555
        transition: all 0.3s
        box-shadow: 7px 0 7px -8px rgba(100,100,100, 0.3)
        text-shadow: 0 1px 2px #eee
        font-style: italic

        &:hover
            box-shadow: 11px 0 15px -8px rgba(100,100,100, 0.5)
            color: #333

        &:before
            font: normal 1.3em 'icomoon'
            margin-right: 0.3em

    h2
        display: inline

.homepage svg
    display: block
    width: 80%

.posts svg, .links svg
    g
        text
            display: none

            &.date
                font-size: 0.8rem
        a:hover ~ text
            display: block

        line
            display: none
            stroke: black
        a:hover line
            display: block

    circle
        fill: rgba($postsColour, 0.8)

        &:hover
            fill: black

.links svg
    circle
        fill: rgba($linksColour, 0.5)

        &:hover
            fill: black

    .linkLabel
        font-size: 0.9rem
        display: block
        fill: $linksColour


.code svg
    g.repo
        path
            transition: opacity 0.5s
            opacity: 0.5
            fill: rgba($codeColour, 0.8)

        a
            transition: all 0.4s

            &:hover *
                opacity: 1

        text
            fill: #333
            font-size: 1rem
            opacity: 0
            transition: all 0.4s

            &.name
                opacity: 1

            tspan.language
                fill: #999
                font-size: 0.9em

            .description
                opacity: 0
                font-size: 0.8rem

        &:hover .description
            opacity: 1

        rect
            fill: transparent
