@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("/fonts/icomoon.svg#icomoon") format('svg'), url("/fonts/icomoon.woff") format('woff'), url("/fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Open Sans', sans-serif;
  color: #334;
  background: #8bc84b;
  margin: 0;
}
h1 {
  font: normal 40px 'Open Sans';
  margin: 0 0 5px;
  line-height: 1;
}
p {
  margin: 0;
}
.home_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
article.contact {
  position: absolute;
  z-index: 2;
  left: 40px;
  top: 40px;
  padding: 20px;
  min-width: 370px;
  -webkit-box-shadow: 0 2px 8px rgba(0,0,0,0.60);
  -moz-box-shadow: 0 2px 8px rgba(0,0,0,0.60);
  box-shadow: 0 2px 8px rgba(0,0,0,0.60);
  background: #fff;
  background: -webkit-linear-gradient(#eee, #ccc 40%);
  background: -moz-linear-gradient(#eee, #ccc 40%);
  background: linear-gradient(#eee, #ccc 40%);
}
#elsewhere {
  text-align: center;
  border-top: 1px solid #999;
  -webkit-box-shadow: 0 1px 0 #ddd inset;
  -moz-box-shadow: 0 1px 0 #ddd inset;
  box-shadow: 0 1px 0 #ddd inset;
  padding: 20px 0 0;
  margin: 15px 0 0;
}
.work:before,
.tools:before,
.location:before,
.github:before,
.twitter:before {
  display: inline-block;
  width: 1em;
  text-align: center;
  margin-right: 7px;
  font: normal 1.4em 'icomoon';
  font-style: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 3px;
  color: #999;
}
a.twitter,
a.github {
  display: inline-block;
  padding: 3px 8px 4px;
  margin: 0 15px;
  text-decoration: none;
  background: -webkit-linear-gradient(#ddd, #ccc);
  background: -moz-linear-gradient(#ddd, #ccc);
  background: linear-gradient(#ddd, #ccc);
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.20);
  box-shadow: 0 1px 4px rgba(0,0,0,0.20);
  color: #333;
  text-shadow: 0 1px 1px #eee;
}
a.twitter:before,
a.github:before {
  color: #666;
  text-shadow: 0 1px 1px #ddd;
}
a.twitter:hover,
a.github:hover,
a.twitter:hover:before,
a.github:hover:before {
  color: #c57f33;
}
a.twitter:active,
a.github:active {
  -webkit-box-shadow: 0 1px 4px #999 inset;
  -moz-box-shadow: 0 1px 4px #999 inset;
  box-shadow: 0 1px 4px #999 inset;
}
.work:before {
  content: "\21";
}
.tools:before {
  content: "\22";
}
.location:before {
  content: "\25";
}
a.twitter:before {
  content: "\23";
}
a.github:before {
  content: "\24";
}
@media screen and (max-width: 480px) {
  article {
    top: 10px;
    left: 10px;
    font-size: 0.75em;
    width: 275px;
  }
  canvas {
    -webkit-transform: none;
    -moz-transform: none;
    transform: none;
  }
}
article.post {
  padding: 20px;
  margin: 20px;
  max-width: 40em;
  background: rgba(255,255,255,0.80);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.30);
  -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.30);
  box-shadow: 1px 1px 5px rgba(0,0,0,0.30);
}
article.post time[pubdate] {
  display: block;
  margin-bottom: 1.5em;
}
article.post p {
  margin-bottom: 1em;
}
