@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("/fonts/icomoon.svg#icomoon") format('svg'), url("/fonts/icomoon.woff") format('woff'), url("/fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: inherit;
  text-decoration: none;
  background: #f9fcf6;
  padding: 0 3px;
  border-bottom: 1px solid #a2d36f;
  transition: all 0.3s;
}
a:hover {
  border-bottom: 3px solid #8bc84b;
}
body {
  font-family: 'Fanwood Text', sans-serif;
  font-size: 20px;
  color: #334;
  background: #eee;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}
body > header {
  width: 320px;
  height: 100%;
  padding: 20px;
  background: #eee;
  background: linear-gradient(#eee, #d6d6d6);
  position: fixed;
  z-index: 10;
  left: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.30);
}
body > header .title {
  zoom: 1;
}
body > header .title:before,
body > header .title:after {
  content: "";
  display: table;
}
body > header .title:after {
  clear: both;
}
body > header .avatar {
  float: left;
  margin-right: 0.8rem;
  position: relative;
  border: 1px solid #999;
}
body > header h1 {
  font-size: 2.1rem;
  margin: 0.5em 0;
}
body > header h2 {
  margin: 2rem 0 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
}
body > header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body > header li a {
  display: inline-block;
  min-width: 70%;
}
body > header li a:hover {
  width: 100%;
  background: #f7fbf2;
  border-bottom: 3px solid #8bc84b;
}
body > header .work,
body > header .tools,
body > header .location,
body > header .github,
body > header .twitter {
  color: inherit;
  text-decoration: none;
  border: none;
  background: none;
}
body > header .work:before,
body > header .tools:before,
body > header .location:before,
body > header .github:before,
body > header .twitter:before {
  display: inline-block;
  width: 1em;
  position: relative;
  top: 3px;
  text-align: center;
  margin-right: 7px;
  font: normal 1.3em 'icomoon';
  text-decoration: none;
  font-style: normal;
  speak: none;
  text-shadow: 0 1px 0 #aaa;
  color: #c5c5c5;
  -webkit-font-smoothing: antialiased;
}
body > header .work:before {
  content: "\21";
}
body > header .tools:before {
  content: "\22";
}
body > header .location:before {
  content: "\25";
}
body > header .twitter:before {
  content: "\23";
}
body > header .github:before {
  content: "\24";
}
.hp_canvas_wrap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.post {
  margin-left: 380px;
  padding: 1rem;
  max-width: 35em;
}
.post h1 {
  margin: 1.8rem 0 0.2rem;
  font-style: italic;
  line-height: 1;
}
.post time[pubdate] {
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #999;
}
