---json
{
  "permalink": "/404.html",
  "eleventyExcludeFromCollections": true
}
---
{% extends "base.njk" %}

{% block title %}
  {{ site.title }} | 404
{% endblock %}

{% block content %}
  <div class="container">
    <h1>Oops, couldn't find that page.</h1>
    That was a 404. It's probably your fault.
  </div>
{% endblock %}

