---
layout: base
title: Aaron Franks
---

<div class="container">
<p class="hello">
    Hi 👋 I’m a software engineer with keen interests in user interfaces,
    data visualization, and functional programming.
</p>
</div>

<section class="openSource container">
    <h2 class="sectionHeading">Latest Open Source Projects</h2>
    <ol class="ossProjects">
        {% for i in (1..6) %}
        <li>
        <a>
            <div class="projectStars"></div>
            <h3 class="projectTitle">...</h3>
            <div class="projectDesc">...</div>
        </a>
        </li>
        {% endfor %}
    </ol>
</section>

<div class="timeline container">
    <section>
        <h2 class="sectionHeading">Latest Links</h2>
    </section>

    <svg class="timelineChart" width="300" height="1000">
        <g class="timeAxis"></g>
        <g class="monthAxis"></g>
        <g class="bubbleRoot"></g>
    </svg>

    <section>
        <h2 class="sectionHeading">Latest Posts</h2>
        {% for post in site.posts limit:4 %}
            <article class="postItem">
                <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
                <time>{{ post.date | date: "%Y-%m-%d" }}</time>
            </article>
        {% endfor %}
    </section>
</div>

<footer>&nbsp;</footer>

<script>
    window._posts = [
    {% for post in site.posts %}
        { date: "{{ post.date | date: "%Y-%m-%dT%H:%M:%S" }}",
          title: {{ post.title | jsonify }},
          url: "{{ post.url }}", length: {{ post.content | size }}
        },
    {% endfor %}
    ];
</script>
