---
preconnect_domains:
  - https://feeds.pinboard.in
  - https://api.github.com
pagination:
  data: collections.posts
  size: 4
  alias: latestPosts
---

{% extends "base.njk" %}

{% block title %}
  {{ site.title }} | {{ site.metaTitle }}
{% endblock %}

{% block content %}

<script>
    // Load pinboard links and GH repos (via their jsonp callback) into Promises
    window._linksPromise = new Promise((resolve, reject) => {
        window.linksCb = (links => resolve(links))
    })
    window._reposPromise = new Promise((resolve, reject) => {
        window.reposCb = (repos => resolve(repos))
    })
</script>

<script src="https://api.github.com/users/af/repos?sort=updated&per_page=15&callback=reposCb"></script>
<script src="https://feeds.pinboard.in/json/u:_af?count=400&cb=linksCb"></script>
{% endblock %}
