{% extends "base.njk" %}

{% set metaTitle = title %}
{% set metaDescription = content | truncate(400) | striptags %}

{% block content %}
<div class="container">
    <article class="post">
        <header>
            <h1>{{ title }}</h1>
            <time pubdate datetime="{{page.date}}">Posted on {{page.date | date("YYYY-MM-DD")}}</time>
        </header>

        {{ content | safe }}
    </article>

</div>
{% endblock %}
