.main {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;

  /* Using this property as hack to reference the global keyframes name */
  --pulse-name: pulse-opacity;
}

/* TODO: migrate to grid instead */
@media (min-width: 500px) {
  .main {
    width: 49%;
  }
}

@media (min-width: 800px) {
  .main {
    width: 32%;
  }
}

.main > a {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.8em;
  color: inherit;
  background: var(--color-cardBg);
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}

.main:nth-child(odd) a {
  animation-delay: 0.5s;
}

.loading {
  animation: 1s var(--pulse-name) alternate-reverse infinite;
}

.stars {
  position: absolute;
  top: 1.1em;
  right: 0.8em;
  font-size: 0.8em;
}

a.loading .stars {
  display: none;
}

.title {
  margin: 0 0 0.2em;
  font-size: 1rem;
}

.description {
  font-size: 0.8em;
  opacity: 0.8;
}

.stars::before {
  content: '★';
  margin-right: 2px;
}
