.main {
  width: 100%;
  list-style: none;
}

/* TODO: migrate to grid instead */
@media (min-width: 500px) {
  .main {
    width: 49%;
  }
}

@media (min-width: 800px) {
  .main {
    width: 32%;
  }
}

.main > a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8em;
  color: inherit;
  background: var(--color-cardBg);
  border: none;
  border-radius: 3px;
  transition: all 0.2s;
}

.main:nth-child(odd) a {
  animation-delay: 0.5s;
}

/*
.main a.loading {
  animation: 1s pulseOpacity alternate-reverse infinite;
}
*/

.stars {
  position: absolute;
  top: 0.8em;
  right: 0.8em;
  font-size: 0.8em;
}

a.loading .stars {
  display: none;
}

.loading .stars:hover {
  filter: brightness(1.3);
  transform: translateY(-2px);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.title {
  margin: 0 0 0.2em;
  font-size: 1rem;
}

.description {
  font-size: 0.8em;
  opacity: 0.8;
}

.stars::before {
  content: '★';
}
