.main {
  max-width: 45em;
  margin: 2rem 0;
  padding: 1.5rem 0 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.feedback {
  font-size: 0.8em;
}

/* todo: remove duplication with homepage */
.sectionHeading {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.sectionHeading h2 {
  color: var(--color-subhead);
  flex: 1;
  margin: 0;
  margin: 3em 0 1em;
  padding-right: 1em;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
}

.moreLink {
  font-size: 0.8rem;
}

.main p {
  margin: 0 0 0.3em;
  opacity: 0.9;
  text-align: center;
}

.latest {
  margin-top: 1em;
}
