* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover,
a.visited:hover {
  color: #9ad063;
}
pre {
  background: #eeeee7;
  padding: 0.2em;
}
code {
  background: #eeeee7;
  padding: 3px;
  font-size: 1rem;
}
pre code {
  display: block;
  padding: 0.5rem 1rem;
}
