@font-face {
  font-family: 'icons';
  src: url("/fonts/icons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  color: #334;
}
