* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s, border 0.3s, box-shadow 0.6s;
}
a a:hover,
a.visited a:hover {
  text-decoration: underline;
}
pre {
  background: #eee;
  padding: 0.2em;
}
code {
  background: #eee;
  font-size: 1rem;
}
p code {
  padding: 0.1em 0.2em;
}
section.homepage {
  margin-bottom: 2rem;
}
section.homepage.code {
  height: 300px;
}
section.homepage.code > a {
  color: rgba(30,145,90,0.5);
  border-color: rgba(30,145,90,0.5);
}
section.homepage.posts {
  height: 120px;
}
section.homepage.posts > a {
  color: rgba(30,45,90,0.5);
  border-color: rgba(30,45,90,0.5);
}
section.homepage.links {
  height: 150px;
}
section.homepage.links > a {
  color: rgba(220,180,50,0.5);
  border-color: rgba(220,180,50,0.5);
}
section.homepage > a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  float: left;
  text-align: center;
  height: 100%;
  border-left: 1rem solid rgba(255,255,255,0.3);
}
section.homepage > a:before {
  font: normal 1.3em 'icomoon';
  margin-right: 0.3em;
}
section.homepage h2 {
  display: inline;
}
section.homepage.code a:before {
  content: "\24";
}
section.homepage.links a:before {
  content: "\22";
}
svg {
  width: 80%;
}
.posts svg g text,
.links svg g text {
  display: none;
}
.posts svg g text.date,
.links svg g text.date {
  font-size: 0.8rem;
}
.posts svg g a:hover ~ text,
.links svg g a:hover ~ text {
  display: block;
}
.posts svg g line,
.links svg g line {
  display: none;
  stroke: #000;
}
.posts svg g a:hover line,
.links svg g a:hover line {
  display: block;
}
.posts svg circle,
.links svg circle {
  fill: rgba(30,45,90,0.5);
}
.posts svg circle:hover,
.links svg circle:hover {
  fill: #000;
}
.links svg circle {
  fill: rgba(220,180,50,0.5);
}
.links svg circle:hover {
  fill: #000;
}
.code svg g.repo path {
  transition: opacity 0.5s;
  opacity: 0.5;
  fill: rgba(30,145,90,0.5);
}
.code svg g.repo a {
  transition: all 0.4s;
}
.code svg g.repo a:hover * {
  opacity: 1;
}
.code svg g.repo text {
  fill: #333;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s;
}
.code svg g.repo text.name {
  opacity: 1;
}
.code svg g.repo text tspan.language {
  fill: #999;
  font-size: 0.9em;
}
.code svg g.repo text .description {
  opacity: 0;
  font-size: 0.8rem;
}
.code svg g.repo:hover .description {
  opacity: 1;
}
.code svg g.repo rect {
  fill: transparent;
}
