* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover,
a.visited:hover {
  color: #9ad063;
}
pre {
  background: #eeeee7;
  padding: 0.2em;
  border-radius: 3px;
}
code {
  background: #eeeee7;
  padding: 3px;
  font-size: 1rem;
}
pre code {
  display: block;
  padding: 0.5rem;
  overflow: auto;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBook.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBookIt.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBoldIt.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'icons';
  src: url("/fonts/icons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Klinic Slab', sans-serif;
  font-size: 20px;
  color: #334;
}
body > header .title {
  display: block;
  padding: 1rem 0;
  margin-bottom: 3rem;
  border: none;
  background: none;
  zoom: 1;
  border: none;
  box-shadow: none;
  color: inherit !important;
  background: #f6f5f2;
  box-shadow: 0 -1px 7px rgba(0,0,0,0.1) inset;
}
body > header .title:before,
body > header .title:after {
  content: "";
  display: table;
}
body > header .title:after {
  clear: both;
}
body > header .avatar {
  float: left;
  display: inline-block;
  width: 20%;
  padding-right: 1rem;
  text-align: right;
}
body > header .avatar img {
  border-radius: 50%;
}
@media screen and (max-width: 400px) {
  body > header .avatar img {
    width: 50px;
    height: 50px;
    margin-top: 0.8rem;
  }
}
body > header h1 {
  font-size: 2rem;
  margin: 1rem 0 0;
  line-height: 0.8;
}
body > header .job,
body > header .location {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: #aa9;
}
body > header .job:last-child,
body > header .location:last-child {
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  body > header .job,
  body > header .location {
    font-size: 0.9rem;
  }
}
body > header .job:before {
  content: '\E802';
  position: relative;
  color: #aaa;
  font-family: 'icons';
  font-style: normal;
  margin-right: 0.4em;
}
body > header .location:before {
  content: '\E801';
  position: relative;
  color: #aaa;
  font-family: 'icons';
  font-style: normal;
  margin-right: 0.4em;
}
.content {
  margin-left: 20%;
  padding-right: 0 7rem;
}
.content h1 {
  margin: 1.4rem 0 0.2rem;
  font-size: 2rem;
  line-height: 1;
}
.posts {
  padding: 0;
}
.posts > li {
  list-style: none;
}
.posts h1 {
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1;
}
.posts time {
  display: block;
  color: #bbb;
  font-weight: bold;
  font-size: 1.1rem;
}
.post {
  max-width: 35em;
}
.post header time[pubdate] {
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #bba;
}
.post h2,
.post h3,
.post h4 {
  margin: 2rem 0 1rem;
}
.post h2 {
  font-size: 1.7rem;
  font-weight: 300;
  font-style: italic;
}
.post h3,
.post h4 {
  font-size: 1rem;
}
.post img {
  max-width: 100%;
}
.post footer {
  margin: 2rem 0;
  padding: 0.5rem 0 3rem;
  border-top: 1px solid #bba;
  font-size: 1rem;
  color: #997;
}
.post footer p {
  margin: 0;
}
.post .latest {
  margin: 2rem 0 0;
}
.post .latest time {
  display: inline-block;
  font-weight: bold;
  opacity: 0.5;
  min-width: 5em;
}
.post .latest > h2 {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0 0 0.3rem;
  font-style: normal;
}
@media screen and (min-width: 800px) {
  .post .latest > h2 {
    width: 250px;
    margin-left: -250px;
    padding-right: 1rem;
    text-align: right;
    float: left;
    line-height: 0.8;
  }
  .post .latest > h2:after {
    content: ' \BB';
  }
}
.post .latest .item {
  line-height: 1.4;
}
.post .latest .viewall {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 0.5rem;
  border: 1px solid currentColor;
  border-radius: 3px;
  font-size: 0.9em;
}
.post .latest .viewall:hover {
  color: #fff;
  background: #6fa933;
}
@media screen and (max-width: 800px) {
  .content {
    margin-left: 0;
    padding: 0 1rem;
  }
}
section.homepage {
  margin: 2rem 0;
  position: relative;
}
section.homepage.loading:before {
  content: 'Loading data...';
  animation: 1s pulseOpacity alternate infinite;
  color: #999;
  position: absolute;
  width: 100%;
  margin: 5rem;
  pointer-events: none;
  text-align: center;
  font-style: italic;
}
section.homepage.loading.failed:before {
  content: "Sorry, failed to load the data. Refresh and try again?";
}
svg.homeChart {
  display: block;
  width: 100%;
  height: 100%;
}
svg.homeChart .xAxis {
  fill: #ddd;
}
svg.homeChart .xAxis text {
  fill: #ddd;
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Klinic Slab', sans-serif;
}
svg.homeChart .xAxis path {
  stroke: none;
  fill: none;
}
svg.homeChart .xAxis line {
  stroke: #eee;
  stroke-width: 1px;
}
svg.homeChart circle {
  transition: fill 0.3s;
}
svg.homeChart circle:hover {
  animation: 0.5s pulseSize;
  fill: #000;
}
.codeWrapper {
  transform: translate(0, 40px);
}
.postWrapper {
  transform: translate(0, 300px);
}
.linkWrapper {
  transform: translate(0, 450px);
}
.chartTitle {
  fill: #aaa;
  transform: translate(2rem, 0);
  font-weight: 300;
  font-size: 2rem;
  font-style: italic;
}
.chartTitle tspan {
  fill: #bbb;
  font-size: 0.5em;
  text-decoration: underline;
}
.postChart .tooltip,
.linkChart .tooltip {
  opacity: 0;
  pointer-events: none;
  transform: translateX(-5px);
  transition: all 0.4s 0.1s;
}
.postChart .date,
.linkChart .date {
  font-size: 0.8rem;
}
.postChart a:hover .tooltip,
.linkChart a:hover .tooltip {
  opacity: 1;
  transform: translateX(0);
}
.postChart line,
.linkChart line {
  pointer-events: none;
  transform-origin: top;
  transform: scaleY(0);
  transition: all 0.2s;
  stroke: #000;
}
.postChart a:hover line,
.linkChart a:hover line {
  transform: scaleY(1);
}
.postChart circle,
.linkChart circle {
  fill: rgba(85,102,170,0.8);
}
.linkChart circle {
  fill: rgba(220,180,50,0.5);
}
.linkChart .linkLabel {
  font-size: 0.9rem;
  display: block;
  fill: #999;
}
.codeChart g.repo path {
  transition: opacity 0.5s;
  opacity: 0.5;
  fill: rgba(85,170,102,0.8);
}
.codeChart g.repo a {
  transition: all 0.4s;
}
.codeChart g.repo a:hover * {
  opacity: 1;
}
.codeChart g.repo text {
  fill: #333;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s;
}
.codeChart g.repo text.name {
  opacity: 1;
}
.codeChart g.repo text tspan.language {
  fill: #999;
  font-size: 0.9em;
}
.codeChart g.repo text .description {
  opacity: 0;
  font-size: 0.8rem;
}
.codeChart g.repo:hover .description {
  opacity: 1;
}
.codeChart g.repo rect {
  fill: transparent;
}
@-moz-keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
@-webkit-keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
@-o-keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
@keyframes pulseSize {
  0% {
    transform: scale(1);
  }
  30% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1);
  }
}
@-moz-keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@-o-keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
@keyframes pulseOpacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}
