* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s;
}
a:hover,
a.visited:hover {
  color: #9ad063;
}
pre {
  background: #eeeee7;
  padding: 0.2em;
  border-radius: 3px;
}
code {
  background: #eeeee7;
  padding: 3px;
  font-size: 1rem;
}
pre code {
  display: block;
  padding: 0.5rem;
  overflow: auto;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBook.otf") format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBookIt.otf") format('opentype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBold.otf") format('opentype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Klinic Slab';
  src: url("/fonts/klinic/KlinicSlabBoldIt.otf") format('opentype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'icons';
  src: url("/fonts/icons.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Klinic Slab', serif;
  font-size: 20px;
  color: #334;
}
body > header .title {
  display: block;
  padding: 1rem 0;
  margin-bottom: 3rem;
  border: none;
  background: none;
  zoom: 1;
  border: none;
  box-shadow: none;
  color: inherit !important;
  background: #f6f5f2;
  box-shadow: 0 -1px 7px rgba(0,0,0,0.1) inset;
}
body > header .title:before,
body > header .title:after {
  content: "";
  display: table;
}
body > header .title:after {
  clear: both;
}
body > header .avatar {
  float: left;
  display: inline-block;
  width: 20%;
  padding-right: 2rem;
  text-align: right;
}
body > header .avatar img {
  border-radius: 50%;
}
@media screen and (max-width: 400px) {
  body > header .avatar img {
    width: 50px;
    height: 50px;
    margin-top: 0.8rem;
  }
}
body > header h1 {
  font-size: 2rem;
  margin: 1rem 0 0;
  line-height: 0.8;
}
body > header .job,
body > header .location {
  margin-right: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  color: #aa9;
}
body > header .job:last-child,
body > header .location:last-child {
  margin-right: 0;
}
@media screen and (max-width: 400px) {
  body > header .job,
  body > header .location {
    font-size: 0.9rem;
  }
}
body > header .job:before {
  content: '\e802';
  position: relative;
  color: #aaa;
  font-family: 'icons';
  font-style: normal;
  margin-right: 0.4em;
}
body > header .location:before {
  content: '\e801';
  position: relative;
  color: #aaa;
  font-family: 'icons';
  font-style: normal;
  margin-right: 0.4em;
}
.content {
  margin-left: 20%;
  padding-right: 0 7rem;
}
ul.posts {
  list-style-type: none;
  padding-left: 0;
}
ul.posts time {
  display: block;
  float: left;
  color: #888;
  font-weight: bold;
  font-size: 1.1rem;
  padding-right: 2rem;
}
@media screen and (min-width: 800px) {
  ul.posts time {
    margin-left: -7em;
    width: 7em;
    text-align: right;
  }
}
ul.posts li {
  margin-bottom: 5px;
}
.content h1 {
  margin: 1.4rem 0 0.2rem;
  font-size: 2rem;
  line-height: 1;
}
.post_list,
.post {
  max-width: 35em;
}
.post header time[pubdate] {
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #bba;
}
.post h2,
.post h3,
.post h4 {
  margin: 2rem 0 1rem;
}
.post h2 {
  font-size: 1.7rem;
  font-weight: 300;
  font-style: italic;
}
.post h3,
.post h4 {
  font-size: 1rem;
}
.post img {
  max-width: 100%;
}
.post footer {
  margin: 2rem 0;
  padding: 0.5rem 0 3rem;
  border-top: 1px solid #bba;
  font-size: 1rem;
  color: #997;
}
.post footer p {
  margin: 0;
}
.post .latest {
  margin: 2rem 0 0;
}
.post .latest time {
  display: inline-block;
  font-weight: bold;
  opacity: 0.5;
  min-width: 5em;
}
.post .latest > h2 {
  font-weight: normal;
  font-size: 1.4em;
  margin: 0 0 0.3rem;
  font-style: normal;
}
@media screen and (min-width: 800px) {
  .post .latest > h2 {
    width: 250px;
    margin-left: -250px;
    padding-right: 2rem;
    text-align: right;
    float: left;
    line-height: 0.8;
  }
  .post .latest > h2:after {
    content: ' »';
  }
}
.post .latest .item {
  line-height: 1.4;
}
.post .latest .viewall {
  display: inline-block;
  padding: 3px 10px;
  margin-top: 0.5rem;
  border: 1px solid currentColor;
  border-radius: 3px;
  font-size: 0.9em;
}
.post .latest .viewall:hover {
  color: #fff;
  background: #6fa933;
}
@media screen and (max-width: 800px) {
  .content {
    margin-left: 0;
    padding: 0 1rem;
  }
}
section.homepage {
  margin: 2rem 0;
  position: relative;
}
section.homepage.loading:before {
  content: 'Loading data...';
  position: absolute;
  width: 100%;
  margin: 5rem;
  pointer-events: none;
  opacity: 0.5;
  text-align: center;
  font-style: italic;
}
section.homepage.loading.failed:before {
  content: "Sorry, failed to load the data. Refresh and try again?";
}
section.homepage > header {
  display: block;
  position: relative;
  width: 20%;
  padding-right: 2rem;
  float: left;
  text-align: right;
  height: 100%;
  overflow: hidden;
}
@media screen and (max-width: 400px) {
  section.homepage > header {
    font-size: 0.9rem;
    padding-right: 0.3rem;
  }
}
section.homepage > header a {
  display: block;
  color: #999;
  font-style: italic;
  padding: 0.3em 0;
  border-top: 4px solid;
  transition: margin-right 0.3s;
}
section.homepage > header a:hover {
  margin-right: -1rem;
}
section.homepage > header a:before {
  content: '» ';
  vertical-align: top;
}
section.homepage h2 {
  margin: 0;
  text-transform: lowercase;
  color: #444;
  font-weight: 300;
}
section.homepage.code {
  height: 350px;
}
section.homepage.code a {
  color: rgba(85,170,102,0.6);
}
section.homepage.posts {
  height: 150px;
}
section.homepage.posts a {
  color: #56a;
}
section.homepage.links {
  height: 280px;
}
section.homepage.links a {
  color: #dcb432;
}
.homepage svg {
  display: block;
  width: 80%;
  height: 100%;
}
.homepage svg .xAxis {
  fill: #ccc;
  font-weight: bold;
  font-size: 1.6rem;
}
.homepage svg .xAxis path {
  stroke: #ccc;
  stroke-width: 2px;
}
.homepage svg .xAxis line {
  stroke: #ccc;
  stroke-width: 2px;
}
.posts svg g text,
.links svg g text {
  display: none;
}
.posts svg g text.date,
.links svg g text.date {
  font-size: 0.8rem;
}
.posts svg g a:hover text,
.links svg g a:hover text {
  display: block;
}
.posts svg g line,
.links svg g line {
  display: none;
  stroke: #000;
}
.posts svg g a:hover line,
.links svg g a:hover line {
  display: block;
}
.posts svg circle,
.links svg circle {
  fill: rgba(85,102,170,0.8);
}
.posts svg circle:hover,
.links svg circle:hover {
  fill: #000;
}
.links svg circle {
  fill: rgba(220,180,50,0.5);
}
.links svg circle:hover {
  fill: #000;
}
.links svg .linkLabel {
  font-size: 0.9rem;
  display: block;
  fill: #999;
}
.code svg g.repo path {
  transition: opacity 0.5s;
  opacity: 0.5;
  fill: rgba(85,170,102,0.8);
}
.code svg g.repo a {
  transition: all 0.4s;
}
.code svg g.repo a:hover * {
  opacity: 1;
}
.code svg g.repo text {
  fill: #333;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s;
}
.code svg g.repo text.name {
  opacity: 1;
}
.code svg g.repo text tspan.language {
  fill: #999;
  font-size: 0.9em;
}
.code svg g.repo text .description {
  opacity: 0;
  font-size: 0.8rem;
}
.code svg g.repo:hover .description {
  opacity: 1;
}
.code svg g.repo rect {
  fill: transparent;
}
