* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s, border 0.3s, box-shadow 0.6s;
}
a a:hover,
a.visited a:hover {
  text-decoration: underline;
}
pre {
  background: #eee;
  padding: 0.2em;
}
code {
  background: #eee;
  font-size: 1rem;
}
p code {
  padding: 0.1em 0.2em;
}
@font-face {
  font-family: 'icomoon';
  src: url("/fonts/icomoon.eot");
  src: url("/fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("/fonts/icomoon.svg#icomoon") format('svg'), url("/fonts/icomoon.woff") format('woff'), url("/fonts/icomoon.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Alegreya', serif;
  font-size: 20px;
  color: #334;
}
body > header {
  padding: 1rem;
}
body > header .title {
  display: block;
  border: none;
  background: none;
  zoom: 1;
  border: none;
  box-shadow: none;
  color: inherit !important;
}
body > header .title:before,
body > header .title:after {
  content: "";
  display: table;
}
body > header .title:after {
  clear: both;
}
body > header .avatar {
  float: left;
  margin-right: 0.5rem;
  position: relative;
  border-radius: 50%;
}
body > header h1 {
  font-size: 2rem;
  margin: 1rem 0;
  margin-right: -2rem;
}
.content {
  padding: 0 5rem;
}
ul.posts {
  list-style-type: none;
  padding-left: 0;
}
ul.posts time {
  display: inline-block;
  width: 6em;
  color: #888;
  font-weight: bold;
  margin-right: 5px;
  font-size: 1.1rem;
}
ul.posts li {
  margin-bottom: 5px;
}
.content h1 {
  margin: 1.4rem 0 0.2rem;
  font-size: 2rem;
  line-height: 1;
}
.post_list,
.post {
  padding: 2rem 0;
  max-width: 35em;
}
.post header h1 {
  font-style: italic;
}
.post header time[pubdate] {
  display: block;
  margin-bottom: 2rem;
  font-weight: 600;
  color: #999;
}
.post h2,
.post h3,
.post h4 {
  margin: 1rem 0 0.5rem;
}
.post h2 {
  font-size: 1.2rem;
  font-style: italic;
}
.post h3,
.post h4 {
  font-size: 1rem;
}
@media screen and (max-width: 800px) {
  body {
    padding-top: 110px;
  }
  body > header {
    position: static;
    height: auto;
    width: 100%;
    padding-top: 1px;
  }
  body > header .title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    background: #eee;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
  }
  .hp_canvas_wrap {
    height: 250px;
  }
  .content {
    margin-left: 0;
    padding: 0 2rem;
  }
}
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-width: 320px;
  background: #f7f7f7;
  -webkit-font-smoothing: antialiased;
}
p {
  line-height: 1.4;
  margin: 0 0 1.4em;
}
a,
a.visited {
  color: #6fa933;
  text-decoration: none;
  transition: color 0.3s, border 0.3s, box-shadow 0.6s;
}
a a:hover,
a.visited a:hover {
  text-decoration: underline;
}
pre {
  background: #eee;
  padding: 0.2em;
}
code {
  background: #eee;
  font-size: 1rem;
}
p code {
  padding: 0.1em 0.2em;
}
section.homepage {
  margin-bottom: 2rem;
}
section.homepage.code {
  height: 300px;
}
section.homepage.code > a {
  color: rgba(30,145,90,0.5);
  border-color: rgba(30,145,90,0.5);
}
section.homepage.posts {
  height: 120px;
}
section.homepage.posts > a {
  color: rgba(30,45,90,0.5);
  border-color: rgba(30,45,90,0.5);
}
section.homepage.links {
  height: 150px;
}
section.homepage.links > a {
  color: rgba(220,180,50,0.5);
  border-color: rgba(220,180,50,0.5);
}
section.homepage > a {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  float: left;
  text-align: center;
  height: 100%;
  border-left: 1rem solid rgba(255,255,255,0.3);
}
section.homepage > a:before {
  font: normal 1.3em 'icomoon';
  margin-right: 0.3em;
}
section.homepage h2 {
  display: inline;
}
section.homepage.code a:before {
  content: "\24";
}
section.homepage.links a:before {
  content: "\22";
}
.homepage svg {
  display: block;
  width: 80%;
}
.posts svg g text,
.links svg g text {
  display: none;
}
.posts svg g text.date,
.links svg g text.date {
  font-size: 0.8rem;
}
.posts svg g a:hover ~ text,
.links svg g a:hover ~ text {
  display: block;
}
.posts svg g line,
.links svg g line {
  display: none;
  stroke: #000;
}
.posts svg g a:hover line,
.links svg g a:hover line {
  display: block;
}
.posts svg circle,
.links svg circle {
  fill: rgba(30,45,90,0.5);
}
.posts svg circle:hover,
.links svg circle:hover {
  fill: #000;
}
.links svg circle {
  fill: rgba(220,180,50,0.5);
}
.links svg circle:hover {
  fill: #000;
}
.code svg g.repo path {
  transition: opacity 0.5s;
  opacity: 0.5;
  fill: rgba(30,145,90,0.5);
}
.code svg g.repo a {
  transition: all 0.4s;
}
.code svg g.repo a:hover * {
  opacity: 1;
}
.code svg g.repo text {
  fill: #333;
  font-size: 1rem;
  opacity: 0;
  transition: all 0.4s;
}
.code svg g.repo text.name {
  opacity: 1;
}
.code svg g.repo text tspan.language {
  fill: #999;
  font-size: 0.9em;
}
.code svg g.repo text .description {
  opacity: 0;
  font-size: 0.8rem;
}
.code svg g.repo:hover .description {
  opacity: 1;
}
.code svg g.repo rect {
  fill: transparent;
}
