.title {
  margin: 1.4rem 0 0.4rem;
  font-size: 1.6rem;
  line-height: 1;
}

.timestamp {
  color: var(--color-subhead);
  display: block;
  font-size: 0.9em;
  margin-bottom: 2rem;
  font-weight: 600;
}

.content h2,
.content h3,
.content h4 {
  font-size: 1rem;
  margin: 2rem 0 1rem;
}

.content h2 {
  color: var(--color-subhead);
  font-size: 0.9em;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  margin-top: 3em;
}

.content img {
  max-width: 100%;
}
