/* TODO move to a proper module eventually */
@import "../components/Timeline.css";

:root {
  --color-cta: #8d84ee;
  --color-cardBg: #3d3c4b;
  --color-bodyTopBg: #282834;
  --color-bodyBottomBg: #0f0e18;
  --color-codeBg: rgba(0, 0, 0, 0.25);
  --color-subhead: #aeacdc;
  --color-text: #d8d9e2;
  --color-maxContrast: #fff;
  --brk-midsize: 500px;
  --brk-desktop: 800px;
  --leftColWidth: 20%;
  --gutterWidth: 1rem;
}

@keyframes pulse-opacity {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  position: relative;
  margin: 0;
  min-width: 321px;
  background: url("/img/bg.svg") center no-repeat fixed,
    linear-gradient(to bottom, var(--color-bodyTopBg) 60px, var(--color-bodyBottomBg)) fixed;
  background-color: var(--color-bodyTopBg);
  background-size: cover;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  font-size: 18px;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

h1 {
  font-size: 1.4em;
  color: var(--color-maxContrast);
}

p {
  line-height: 1.5;
  margin: 0 0 1.4em;
  max-width: 45em;
}

li {
  line-height: 1.5;
  margin: 0 0 0.5em;
}

a,
a.visited {
  color: var(--color-maxContrast);
  text-decoration: none;
  border-bottom: 2px solid var(--color-cta);
  padding: 0 1px;
  transition: color 0.1s;
}

a:hover {
  color: var(--color-cta);
}

pre {
  padding: 0.2em;
}

code {
  background: var(--color-codeBg);
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 1rem;
}

pre code {
  display: block;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow: auto;
}

blockquote {
  font-style: italic;
  margin-left: 0;
  padding-left: 1em;
  border-left: 5px solid rgba(255, 255, 255, 0.3);
  opacity: 0.8;
}

.container {
  max-width: 1040px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
  width: 100%;
}

@media print {
  body {
    margin: 0;
    color: #000;
    background-color: #fff;
  }

  a {
    color: #448;
  }

  img[alt="AF"] {
    filter: invert(1);
  }
}
