.hello {
  font-size: 22px;
  margin: 2rem auto 5rem;
  max-width: 22em;
}

.sectionHeading {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.sectionHeading h2 {
  color: var(--color-subhead);
  flex: 1;
  margin: 0;
  margin: 3em 0 1em;
  padding-right: 1em;
  font-size: 0.9rem;
  font-weight: 600;
  opacity: 0.7;
}

.moreLink {
  font-size: 0.8rem;
}

.moreLink::after {
  content: ' ›';
  font-size: 1.5em;
}

.openSource {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: space-between;
  padding: 0;
}

.timeline {
  display: flex;
  flex-flow: column-reverse;
  justify-content: space-around;
}

@media (min-width: 500px) {
  .timeline {
    flex-flow: row;
  }

  .timeline > svg {
    display: block;
  }

  .timeline > section {
    width: 50%;
  }
}
