<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/assets/main.css" rel="stylesheet" type="text/css">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}

    {% for domain in page.preconnect_domains %}
        <link rel="preconnect" href="{{ domain }}" crossorigin />
    {% endfor %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
    <meta name="keywords" content="Aaron Franks, programming, JavaScript, Vancouver" />
    {% endif %}

    {% seo %}
</head>
<body>
    <header class="siteHeader">
    <div class="container">
        <a class="logo" href="/">
            <img src="/img/monogram.svg" alt="AF" width="40">
        </a>
        <nav>
            <a href="https://github.com/af">Code</a>
            <a href="/posts">Posts</a>
            <a href="https://pinboard.in/u:_af/">Links</a>
        </nav>
    </div>
    </header>

    {{ content }}

    <script src="/assets/analytics.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>
