<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/assets/main.css" rel="stylesheet" type="text/css">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
    <meta name="keywords" content="Aaron Franks, programming, JavaScript, Vancouver" />
    {% endif %}

    {% seo %}
</head>
<body>
    <header>
        <a class="title" href="/">
            <div class="avatar">
                <img src="/img/couch_tweaked.png" alt="" width="75" height="75" />
            </div>
            <h1>Aaron Franks</h1>
            <span class="job">Programmer</span>
            <span class="location">Vancouver, Canada</span>
        </a>
    </header>

    {{ content }}

    <script src="/assets/analytics.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>
