<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="/assets/main.css" rel="stylesheet" type="text/css">
    <link href="/img/favicon.png" type="image/png" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}

    {% if page.keywords %}
    <meta name="keywords" content="{{ page.keywords }}" />
    {% else %}
    <meta name="keywords" content="Aaron Franks, programming, JavaScript, Vancouver" />
    {% endif %}

    {% seo %}
</head>
<body>
    <header class="siteHeader container">
        <a class="logo" href="/">
            <img src="/img/ribbon-logo.svg" alt="af">
        </a>
    </header>

    {{ content }}

    <script src="/assets/analytics.js"></script>
    <script src="/assets/main.js"></script>
</body>
</html>
