---
layout: base
---

<div class="content">
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <time pubdate datetime="{{page.date}}">Posted on {{page.date | date: "%Y-%m-%d"}}</time>
    </header>

    {{ content }}

    <footer>
        <p>Thanks for reading.</p>
        <p>Feedback? Contact me via <a href="https://twitter.com/eh_eff">Twitter</a>,
        or send a pull request <a href="https://www.github.com/af/af.github.com">on Github</a></p>
    </footer>
</article>
</div>
