---
layout: base
---

<div class="content">
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <time pubdate datetime="{{page.date}}">Posted on {{page.date | date: "%Y-%m-%d"}}</time>
    </header>

    {{ content }}

    <footer>
        <p>Thanks for reading. If you made it this far, you might want to
            <a href="/atom.xml">subscribe for future posts</a>
        </p>

        <p>Feedback? Contact me via <a href="https://twitter.com/eh_eff">Twitter</a>,
        or send a pull request <a href="https://www.github.com/af/af.github.com">on Github</a></p>

        <section class="latest">
            <h2>Latest posts</h2>
            {% for post in site.posts limit:3 %}
                <div class="item">
                    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
            {% endfor %}
            <a class="viewall" href="/posts">view all</a>
        </section>
    </footer>
</article>
</div>
