---
layout: base
---

<div class="container">
<article class="post">
    <header>
        <h1>{{ page.title }}</h1>
        <time pubdate datetime="{{page.date}}">Posted on {{page.date | date: "%Y-%m-%d"}}</time>
    </header>

    {{ content }}

    <footer>
        <p>Thanks for reading. If you made it this far, you might want to
            <a href="/atom.xml">subscribe for future posts</a>
        </p>

        <p>
            Feedback? Please file an issue or
            <a href="https://www.github.com/af/af.github.com">send a pull request</a>
        </p>

        <section class="latest">
            <h2 class="sectionHeading">Latest posts</h2>
            {% for post in site.posts limit:3 %}
                <div class="item">
                    <time>{{ post.date | date: "%Y-%m-%d" }}</time>
                    <a href="{{ post.url }}">{{ post.title }}</a>
                </div>
            {% endfor %}
        </section>
    </footer>
</article>
</div>
