$colours = {
    cta: rgba(#fff, 1)
    bodyBg: #32905b
    codeBg: rgba(#000, 0.07)
    text: white
}

$breakpoints = {
    midsize: 500px,
    desktop: 800px
}

$dimensions = {
    leftColWidth: 20%,
    gutterWidth: 1rem
}

$mainFont = Roboto, system-ui, sans-serif
