$colours = {
    cta: rgba(#fff, 1),
    bodyBg: #52A174,
    codeBg: rgba(#fff, 0.1)
    text: white,

    sections: {
        code: #5a6,
        posts: #56a,
        links: rgb(220, 180, 50)
    }
}

$dimensions = {
    leftColWidth: 20%,
    gutterWidth: 1rem
}

$mainFont = Roboto, sans-serif


*
    box-sizing: border-box

html, body
    height: 100%

body
    position: relative
    margin: 0
    min-width: 320px
    background: $colours.bodyBg
    color: $colours.text
    font-family: $mainFont
    -webkit-font-smoothing: antialiased

p
    line-height: 1.4
    margin: 0 0 1.4em

a, a.visited
    color: $colours.cta
    text-decoration: none
    transition: color 0.3s

    &:hover
        color: lighten($colours.cta, 30%)

pre
    background: $colours.codeBg
    padding: 0.2em
    border-radius: 3px

code
    background: $colours.codeBg
    padding: 3px
    font-size: 1rem

    pre &
        display: block
        padding: 0.5rem
        overflow: auto

.container
    max-width: 950px
    min-width: 300px
    margin-left: auto
    margin-right: auto
    padding: 0 1rem

.siteHeader
    padding-top: 2rem
    padding-bottom: 2rem
