$colours = {
    cta: #8D84EE
    cardBg: #3D3C4B
    bodyTopBg: #282834
    bodyBottomBg: #0F0E18
    codeBg: rgba(#000, 0.15)
    subhead: #AEACDC
    text: #D8D9E2
    maxContrast: #FFF
}

$breakpoints = {
    midsize: 500px,
    desktop: 800px
}

$dimensions = {
    leftColWidth: 20%,
    gutterWidth: 1rem
}

$mainFont = Roboto, system-ui, sans-serif
