@require "_common"

$tagColours = {
    programming: rgba(#fff, 0.3)
    javascript: #8FB6C2
    design: #74C2B8
    other: rgba(#fff, 0.15)
}


@keyframes pulseSize
    0%
        transform: scale(1)
    30%
        transform: scale(1.2)
    70%
        transform: scale(1)

.hello
    margin: 0 auto 5rem
    max-width: 22em
    font-size: 26px

.sectionHeading
    text-transform: uppercase
    font-size: 0.9em
    font-weight: 600
    letter-spacing: 0.06em
    opacity: 0.8
    margin-bottom: 1.5em

.ossProjects
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

    > li
        width: 100%
        margin-bottom: 0.5em
        list-style: none

        @media (min-width: $breakpoints.midsize)
            width: 49%

            > a
                min-height: 90px
        @media (min-width: $breakpoints.desktop)
            width: 32%

    a
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0.5em
        background: rgba(#fff, 0.1)
        border: none
        border-radius: 3px
        transition: background 0.2s

        &:hover
            background: rgba(#fff, 0.18)

    .projectTitle
        margin: 0 0 0.2em
        font-size: 1rem

    .projectDesc
        font-size: 0.8em
        opacity: 0.8

    .projectStars
        position: absolute
        top: 0.5em
        right: @top
        font-size: 0.8em

        &:before
            content: '★'

.timeline
    display: flex
    flex-direction: column
    justify-content: space-between
    margin-top: 5rem

    .timelineChart
        display: none

    circle
        fill: $tagColours.other
        transition: fill 0.3s

        &.post
            fill: $tagColours.programming

        &:hover
            animation: 0.5s pulseSize
            fill: white

        &.javascript
            fill: $tagColours.javascript
        &.design
            fill: $tagColours.design
        &.programming
            fill: $tagColours.programming

    @media (min-width: $breakpoints.midsize)
        flex-direction: row

        .timelineChart
            display: block

        > section
            width: 32%

.postItem
    margin-bottom: 1.5em

    > h1
        margin: 0 0 0.1em

    a:not(:hover)
        border-bottom: none

    time
        font-size: 0.85em
        opacity: 0.5

.latestLinks > article
    margin-bottom: 2rem

    a:not(:hover)
        border-bottom: none

    h1
        font-size: 1rem
        margin: 0

    time
        font-size: 0.8em
        opacity: 0.6

    blockquote
        margin: 0
        font-size: 0.9rem
        border-left: 3px solid rgba(#fff, 0.4)
        padding-left: 0.5em
        opacity: 0.8

        &:not(:empty)
            margin: 0.3rem 0

    .tags
        font-size: 0.7em
        list-style-type: none
        padding: 0
        margin: 0.2em 0

        > li
            display: inline-block
        a
            display: inline-block
            background: rgba(#fff, 0.1)
            padding: 2px 3px
            margin-right: 3px
            border-radius: 2px

            &:not(:hover)
                border-bottom: 1px solid transparent

        .tag-programming
            background: $tagColours.programming
        .tag-javascript
            background: $tagColours.javascript
        .tag-design
            background: $tagColours.design


.timeAxis
    fill: rgba(#fff, 0.3)

    text
        fill: #fff
        font-size: 1rem
        font-weight: bold
        font-family: $mainFont

    // Main vertical timeline axis
    path
        stroke: none
        fill: none
    line
        stroke: #fff
        stroke-width: 1px

.monthAxis
    text
        fill: rgba(#fff, 0.5)
        font-size: 0.8rem
        font-family: $mainFont
    path
        stroke: none

.timelineChart
    overflow: visible

    .tooltip
        opacity: 0
        pointer-events: none
        transform: translateX(-5px)
        transition: all 0.4s 0.1s
        fill: white

    .tooltipLine
        stroke: rgba(#fff, 0.7)
        fill: none

    .date
        font-size: 0.8rem
        opacity: 0.7

    a:hover .tooltip
        opacity: 1
        transform: translateX(0)

    line
        pointer-events: none
        transform-origin: top
        transform: scaleY(0)
        transition: all 0.2s
        stroke: white
    a:hover line
        transform: scaleY(1)

    & + section
        transition: transform 0.2s

    &:hover + section
        opacity: 0.4
        transform: translateX(70px)
