@require "_common"

$tagColours = {
    programming: #5A51BB
    typescript: #4678b9
    design: #559175
    other: rgba(#fff, 0.2)
}


@keyframes pulseSize
    0%
        transform: scale(1)
    30%
        transform: scale(1.2)
    70%
        transform: scale(1)
@keyframes pulseOpacity
    0%
        opacity: 1
    100%
        opacity: 0.4

.hello
    margin: 2rem auto 5rem
    max-width: 22em
    font-size: 22px

.blogPosts
    margin-top: 5rem
    margin-bottom: 5rem

.ossProjects
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

    > li
        width: 100%
        margin-bottom: 0.5em
        list-style: none

        @media (min-width: $breakpoints.midsize)
            width: 49%

            > a
                min-height: 100px
        @media (min-width: $breakpoints.desktop)
            width: 32%

        &:nth-child(odd) a
            animation-delay: 0.5s

    a
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0.8em
        color: inherit
        background: $colours.cardBg
        border: none
        border-radius: 3px
        transition: all 0.2s

        &.loading
            animation: 1s pulseOpacity alternate-reverse infinite

            .projectStars
                display: none

        &:hover
            filter: brightness(1.3)
            transform: translateY(-2px)
            box-shadow: 0 2px 15px rgba(0,0,0,0.3)

    .projectTitle
        margin: 0 0 0.2em
        font-size: 1rem

    .projectDesc
        font-size: 0.8em
        opacity: 0.8

    .projectStars
        position: absolute
        top: 0.8em
        right: @top
        font-size: 0.8em

        &:before
            content: '★'

.timeline
    display: flex
    flex-direction: column
    justify-content: space-around

    .sectionHeading
        margin: 0

    .timelineChart
        display: none

    circle
        fill: $tagColours.other
        transition: fill 0.3s

        &:hover
            animation: 0.5s pulseSize
            fill: white !important

        &.typescript
            fill: $tagColours.typescript
        &.design
            fill: $tagColours.design
        &.programming
            fill: $tagColours.programming

    @media (min-width: $breakpoints.midsize)
        flex-direction: row

        .timelineChart
            display: block

        > section
            width: 50%

.latestLinks
    margin-top: 2rem

.latestLinks > article
    margin-bottom: 2rem

    a:not(:hover)
        border-bottom: none

    h1
        font-size: 1rem
        margin: 0

    time
        font-size: 0.8em
        opacity: 0.6

    blockquote
        margin: 0
        font-size: 0.9rem
        padding: 0.3em 0.5em
        opacity: 0.8
        border-left: 0

        &:not(:empty)
            margin: 0.5rem 0
            border-left: 3px solid rgba(#fff, 0.2)

    .tags
        font-size: 0.7em
        list-style-type: none
        padding: 0
        margin: 0.3em 0

        > li
            display: inline-block
            margin: 0
        a
            border: none;
            color: inherit
            display: inline-block
            background: rgba(#fff, 0.1)
            padding: 2px 5px
            margin-right: 3px
            border-radius: 2px

            &:hover
                box-shadow: 0 2px 5px rgba(0,0,0,0.3)

        .tag-programming
            background: $tagColours.programming
        .tag-typescript
            background: $tagColours.typescript
        .tag-design
            background: $tagColours.design
        .tag-top
            border-bottom: 2px solid currentColor

            &:before
                content: '★ '


.yearAxis
    text
        fill: #fff
        font-size: 1rem
        font-weight: bold
        font-family: $mainFont

    path, line
        stroke: none
        fill: none

.monthAxis
    text
        fill: rgba(#fff, 0.5)
        font-size: 0.8rem
        font-family: $mainFont
    path, line
        stroke: none

.timelineChart
    overflow: visible

    .tooltip
        opacity: 0
        pointer-events: none
        transform: translateX(-5px)
        transition: all 0.4s 0.1s
        fill: white

    .date
        font-size: 0.8rem
        font-weight: bold
        opacity: 0.8

    a:hover .tooltip
        opacity: 1
        transform: translateX(0)

    .tooltipLine
        stroke: white
        pointer-events: none
        transform-origin: top
        transform: scaleY(0)
        transition: all 0.2s

    a:hover .tooltipLine
        transform: scaleY(1)

    & + section
        transition: opacity 0.2s 0.1s

    &.tooltipActive + section
        opacity: 0.3

.categoryAxis
    .domain, line
        stroke: none
    text
        font-size: 0.8rem
        font-family: $mainFont
        filter: drop-shadow(0 0 3px rgba(#000, 0.1))
        transform: rotate(-10deg)

        &.typescript
            fill: lighten($tagColours.typescript, 30%)
        &.design
            fill: lighten($tagColours.design, 30%)
        &.other
            fill: rgba(#fff, 0.5)
        &.programming
            fill: lighten($tagColours.programming, 30%)
