@require "_common"

@keyframes pulseSize
    0%
        transform: scale(1)
    30%
        transform: scale(1.2)
    70%
        transform: scale(1)

@keyframes pulseOpacity
    0%
        opacity: 1
    100%
        opacity: 0.6

.hello
    margin: 0 auto 5rem
    max-width: 22em
    font-size: 26px

.sectionHeading
    text-transform: uppercase
    font-size: 0.9em
    font-weight: 600
    letter-spacing: 0.06em
    opacity: 0.8

.ossProjects
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    padding: 0

    > li
        width: 32%
        margin-bottom: 0.5em
        list-style: none

    a
        position: relative
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 90px
        padding: 0.5em
        background: rgba(#fff, 0.1)
        border: none
        border-radius: 3px
        transition: background 0.2s

        &:hover
            background: rgba(#fff, 0.18)

    .projectTitle
        margin: 0
        font-size: 1rem

    .projectDesc
        font-size: 0.8em
        opacity: 0.8

    .projectStars
        position: absolute
        top: 0.5em
        right: @top
        font-size: 0.8em

        &:before
            content: '★'

.timeline
    display: flex
    justify-content: space-between
    margin-top: 5rem

    > section
        width: 32%

.postItem
    margin-bottom: 1em

    > h1
        margin: 0
    time
        font-size: 0.8em
        opacity: 0.7

.timeAxis
    fill: rgba(#fff, 0.3)

    text
        fill: #fff
        font-size: 1rem
        font-weight: bold
        font-family: $mainFont

    // Main vertical timeline axis
    path
        stroke: rgba(#fff, 0.2)
        fill: none
    line
        stroke: #fff
        stroke-width: 1px

circle
    transition: fill 0.3s

    &:hover
        animation: 0.5s pulseSize
        fill: black

.postChart, .linkChart
    .tooltip
        opacity: 0
        pointer-events: none
        transform: translateX(-5px)
        transition: all 0.4s 0.1s

    .date
        font-size: 0.8rem

    a:hover .tooltip
        opacity: 1
        transform: translateX(0)

    line
        pointer-events: none
        transform-origin: top
        transform: scaleY(0)
        transition: all 0.2s
        stroke: black
    a:hover line
        transform: scaleY(1)

    circle
        fill: rgba($colours.sections.posts, 0.8)

.linkChart
    circle
        fill: rgba($colours.sections.links, 0.5)

    .linkLabel
        font-size: 0.9rem
        display: block
        fill: #999
