@require "_mixins"
@require "_common"
@require "_fonts"


// Main site header
body > header
    .title
        display: block
        padding: 1rem 0
        margin-bottom: 3rem
        border: none
        background: none
        clearfix()
        border: none
        box-shadow: none
        color: inherit !important
        background: #f6f5f2
        box-shadow: 0 -1px 7px rgba(0,0,0, 0.1) inset

    .avatar
        float: left
        display: inline-block
        width: $dimensions.leftColWidth
        padding-right: $dimensions.gutterWidth
        text-align: right

        img
            border-radius: 50%

        @media screen and (max-width: 400px)
            img
                width: 50px
                height: 50px
                margin-top: 0.8rem

    h1
        font-size: 2rem
        margin: 1rem 0 0
        line-height: 0.8

    .job, .location
        margin-right: 0.5rem
        font-size: 1rem
        font-style: italic
        color: #aa9

        &:last-child
            margin-right: 0

        @media screen and (max-width: 400px)
            font-size: 0.9rem

    .job:before
        $briefcaseIcon(#aaa)
    .location:before
        $locationIcon(#aaa)

.content
    margin-left: $dimensions.leftColWidth
    padding-right: 0 7rem

ul.posts
    list-style-type: none
    padding-left: 0

    time
        display: block
        float: left
        color: #888
        font-weight: bold
        font-size: 1.1rem
        padding-right: $dimensions.gutterWidth

        @media screen and (min-width: 800px)
            margin-left: -7em
            width: 7em
            text-align: right

    li
        margin-bottom: 5px

// Attempt to align all h1s in the content with the left sidebar's h1:
.content h1
    margin: 1.4rem 0 0.2rem
    font-size: 2rem
    line-height: 1

.post_list, .post
    max-width: 35em

// Blog post article styles
.post
    header
        time[pubdate]
            display: block
            margin-bottom: 2rem
            font-weight: 600
            color: #bba

    h2, h3, h4
        margin: 2rem 0 1rem
    h2
        font-size: 1.7rem
        font-weight: 300
        font-style: italic
    h3, h4
        font-size: 1rem

    img
        max-width: 100%

    footer
        margin: 2rem 0
        padding: 0.5rem 0 3rem
        border-top: 1px solid #bba
        font-size: 1rem
        color: #997

        p
            margin: 0

    .latest
        margin: 2rem 0 0

        > h2
            font-weight: normal
            font-size: 1.4em
            margin: 0 0 0.3rem
            font-style: normal

            @media screen and (min-width: 800px)
                width: 250px
                margin-left: -250px
                padding-right: $dimensions.gutterWidth
                text-align: right
                float: left
                line-height: 0.8

                &:after
                    content: ' »'

        .item
            line-height: 1.4

        .viewall
            display: inline-block
            padding: 3px 10px
            margin-top: 0.5rem
            border: 1px solid #bba
            border-radius: 3px
            font-size: 0.9em


// Mobile content
@media screen and (max-width: 800px)
    .content
        margin-left: 0
        padding: 0 1rem

