@require "_common"

$contentMaxWidth = 43rem

// /posts page
.posts-list
    padding: 0

    > li
        list-style: none

    article
        display: flex
        margin-bottom: 1em

    h1
        display: inline-block
        margin: 0
        font-size: 1.2em
        line-height: 1.2

    a:not(:hover)
        border-bottom: none

    time
        display: inline-block
        min-width: 6rem
        opacity: 0.8
        font-size: 1rem

// Blog post article styles
.post
    max-width: $contentMaxWidth

    header
        time[pubdate]
            display: block
            margin-bottom: 2rem
            font-weight: 600
            opacity: 0.6

    h1
        margin: 1.4rem 0 0.2rem
        font-size: 2rem
        line-height: 1

    h2, h3, h4
        margin: 2rem 0 1rem
    h2
        font-size: 1.1rem
        text-transform: uppercase
        letter-spacing: 0.07em
        margin-top: 3em

    h3, h4
        font-size: 1rem

    img
        max-width: 100%

.postFooter
    max-width: $contentMaxWidth
    margin: 2rem 0
    padding: 1.5rem 0 3rem
    border-top: 1px solid rgba(#fff, 0.2)
    font-size: 0.9rem

    p
        margin: 0 0 0.3em
        opacity: 0.9
        text-align: center

    .latest
        margin-top: 2em

        time
            display: inline-block
            min-width: 5em
            margin-right: 1em
            opacity: 0.8
            font-weight: normal
            font-size: 0.8em

        .item
            line-height: 1.6
            font-weight: bold
            font-size: 1.2em
